<form method="get" action="/api/sessions/logout">
    <h1>Perfil del usuario</h1>
    <p>Bienvenido {{first_name}} {{last_name}}</p>
    <p>Nivel de usuario: {{role}}</p>
    <p>Email: {{email}}</p>
    <p>Edad: {{age}}</p>
    <button type="submit">Logout</button>
</form>